---
- name: Ensure pmm-data container exists
  docker_container:
    image: "{{ pmm_server_docker_image_name }}:{{ pmm_server_docker_image_version }}"
    name: pmm-data
    state: present
    volumes:
      - /srv
    command: /bin/true

- name: Ensure pmm-server container exists
  docker_container:
    env: "{{ pmm_server_docker_env }}"
    image: "{{ pmm_server_docker_image_name }}:{{ pmm_server_docker_image_version }}"
    name: pmm-server
    ports:
      - "{{ pmm_server_http_port }}:80"
      - "{{ pmm_server_https_port }}:443"
    restart_policy: "{{ pmm_server_restart_policy }}"
    state: started
    volumes_from:
      - pmm-data

- name: Enable Grafana anonymous access
  command: >
    docker exec -t pmm-server bash -c 'sed -i "/# enable anonymous access/!b;n;cenabled = true # Ansible edited" /etc/grafana/grafana.ini'
  changed_when: false
  when: pmm_server_anonymous_access

- name: Disable auth at nginx level
  command: docker exec -t pmm-server sed -i 's/auth_request \/auth_request;/# auth disabled by Ansible/g' /etc/nginx/conf.d/pmm.conf
  changed_when: false
  when: pmm_server_anonymous_access

- name: Restart pmm-server
  docker_container:
    name: pmm-server
    restart: true
  changed_when: false
  when: pmm_server_anonymous_access
