---
name: Test ansible role

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "22 2 * * 2"

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ansible: ["2.7", "2.8", "2.9", "2.10"]
        scenario:
          - debian-9
          - debian-10
          - ubuntu-1804
          - ubuntu-2004

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -q ansible~=${{ matrix.ansible }} ansible-lint docker flake8 molecule molecule-docker testinfra

      - name: Display versions
        run: |
          python -c "import sys; print(sys.version)"
          pip --version
          ansible --version
          molecule --version

      - name: Run Molecule
        run: molecule --base-config molecule/shared/base.yml test --scenario-name ${{ matrix.scenario }}
